* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/against-2');


:root {
  --bg: linear-gradient(to top, #1B1B1B, #3B3C36,#1A2421);
  --red: #FF8080;
}

body {
  background: var(--bg);
  height: 100vh;
  font-family: 'against', sans-serif;
  background-repeat: no-repeat;
                                                
}

.header {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 4rem;
}

.header nav ul {
  display: flex;
  gap: 4rem;
}

nav ul li {
  list-style-type: none;
}

nav ul li  a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  position: relative;
}

nav ul li a::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: #fff;
  bottom: -10px;
  left: 0;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

nav ul li a:hover::after {
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title {
  width: 70%;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  padding-bottom: 5rem;
}

span {
  color: var(--red);

}

.scroll {
  color: #fff;
  display: flex;
  gap: 2rem;
  align-items: center;
}