* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/against-2');


:root {
  --bg: linear-gradient(to top, #1B1B1B, #3B3C36,#1A2421);
  --red: #FF8080;
}

body {
  background: var(--bg);
  height: 100vh;
  font-family: 'against', sans-serif;
  background-repeat: no-repeat;

                                                
}

.header {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 4rem;
}

.header nav ul {
  display: flex;
  gap: 4rem;
}

nav ul li {
  list-style-type: none;
}

nav ul li  a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  position: relative;
}

nav ul li a::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: #fff;
  bottom: -10px;
  left: 0;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

nav ul li a:hover::after {
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


.title {
  width: 70%;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin-top: 40px;


}

span {
  color: var(--red);

}

.scroll {
  color: #fff;
  display: flex;
  gap: 2rem;
  align-items: center;
}


.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 7rem;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  gap: 30px;
  
}

.image img {
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.text {
  width: 50%;
  font-size: 30px;
display: flex;
flex-direction: column;
gap: 30px;
line-height: 4rem;
}

.text span {
  position: relative;
  font-size: 3rem;
}

.text span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: -10px;
  left: 0;
}

.rope img {
 width: 300px;
}

.rope {
  margin-top: 120px;
  
}

.image p {
  text-align: center;
  position: relative;
  
}

.image p::before {
   position: absolute;
   content: "";
   width: 20px;
   height: 20px;
   background-color: var(--red);
   border-radius: 50%;
   margin-left: -30px;

  }

  .about-2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 4rem;
    padding-top: 4rem;
    padding-bottom: 10rem;
  }

  .about-2 span {
    font-size: 6rem;
  }

  .about-2 h2 {
    width: 70%;
    text-align: center;
    font-size: 3rem;
    position: relative;
    line-height: 5rem;
  }

  .about-2 h2::after {
    position: absolute;
    content: "";
     width: 100%;
     height: 3px;
     background-color: var(--red);
     bottom: -15px;
     left: 0;

  }

  .contact {
    font-family: 'against', sans-serif;
    background: var(--bg);
    color: #fff;
    padding: 10px 60px;
    cursor: pointer;
    font-size: 1.2rem;
    
    border-radius: 10px;
    transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);

  }

  .contact:hover {
    background: transparent;
    color: var(--bg);
    font-weight: bold;
 
  
  
  }

  .cursor {
    width: 30px;
    height: 30px;
    background-color: var(--red);
    border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  }


  .products-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background: var(--bg);
    padding-top: 10rem;
    padding-bottom: 10rem;



  }

  .product h2 {
    font-size: 4rem;
    position: relative;
    color: #fff;
    cursor: pointer;
    align-items: center;
    transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);

  }
 
  .product h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--red);
    bottom: -10px;
    left: -10px;
    

  }

 
  .product h2:hover {
    opacity: 0.4;
    transform: translateX(-30px)
  }

  
  .modalContainer{
    height: 350px;
    width: 400px;
    position: absolute;
    background-color: white;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalSlider{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal img{
    height: auto;
}

 .cursorLabel{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--red);
    color: white;
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
}

.cursorLabel{
    background-color: transparent;
}

.product-span {
  font-size: 2rem;
  margin-right: auto;
  padding-left: 4rem;
  
}

.price-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 7rem 10rem;
  
}

.plans {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--red);
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: -3px 3px 10px lightgray;
  padding: 2rem;
  
}

.plan ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 30px;
  text-align: center;
  list-style: none;
}

.plan span {
  font-size: 30px;
}


.price-tag {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.plan button {
  background: var(--bg);
 width: 250px;
 padding: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: -3px 3px var(--red);
  font-size: 15px;
  margin-top: 30px;
  font-family: 'against', sans-serif;
  transition: all 0.8s ease-in;



}

.plan button:hover {
background: transparent;
color: var(--bg);
}

.footer {
  width: 100%;
  height: 200px;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7rem;
  position: relative;
  z-index: -1;
}

.footer span {
  font-size: 30px;
}
.footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.footer-menu ul li {
  list-style: none;
  color: #fff;
}

.footer-menu ul li a {
  color: #fff;
  text-decoration: none;

}


@media only screen and (max-width: 600px) {
  .rope {
    display: none;
  }

  nav {
    display: none;
  }

  .title {
    font-size: 40px;
    padding-bottom: 4rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .plans {
    display: flex;
    flex-direction: column;
  }

  .product h2 {
    font-size: 30px;
  }

  
}